.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: min(724px, 100%);
  box-sizing: border-box;
  padding: 20px;
  gap: 12px
}
