@use '@/theme/colors.scss' as colors;

.root {
  position: relative;
  padding: 5px 7px;
  background-color: colors.$primary-main;
  border: 1px solid black;
  width: 150px;
  height: 200px;
}
.root:before, .root:after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: colors.$accent-light;
  border: 1px solid colors.$accent-dark;
}
.root:before {
  top: 2px;
  right: 2px;
}
.root:after {
  top: 2px;
  left: 2px;
}
.title, .subtitle {
  text-align: center;
}
.title {
  font-size: 32px;
}
.subtitle {
  font-size: 24px;
}
.picture {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: colors.$primary-light;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid colors.$accent-dark;
}

.picture > * {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(1.8);
}
.reward {
  text-align: center;
  font-size: 24px;
}