@use '@/theme/colors.scss' as colors;

.root {
  font-size: 36px;
  padding: 8px 20px;
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
  cursor: pointer;

  &.primary {
    border: 2px solid colors.$primary-dark;
    background-color: colors.$primary-main;
    color: colors.$accent-main;

    &:hover {
      background-color: colors.$primary-light;
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: #2b2b2b;
      border: 1px solid black;
    }
    &:before {
      top: 2px;
      left: 2px;
    }
    &:after {
      bottom: 2px;
      right: 2px;
    }
  }

  &.accent {
    border: 2px solid colors.$accent-light;
    background-color: black;
    color: colors.$primary-main;
  }
}

.fullWidth {
  width: 100%;
}