@use '@/theme/colors.scss' as colors;

.root {
  margin: auto;
  padding: 5px;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  @media screen and (min-width: 800px) {
    flex-direction: column;
  }
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.board {
  --size: min(90vmin, 100vh - 230px) ;
  display: grid;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  margin: auto;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
  background: colors.$primary-dark;;
  border: 2px solid colors.$primary-dark;;

  .box {

  }
}
