@use '@/theme/colors.scss' as colors;

.root {
  margin: auto;
  padding: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.controls {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

.controls progress {
  width: 100%;
  background-color: colors.$primary-dark;
  border: 1px solid colors.$primary-dark;
}
.timeProgressLabel {
  color: colors.$primary-main;
}

.score {
  color: colors.$primary-dark;
  font-size: 96px;
}

.board {
  --size: min(90vmin, 100vh - 230px) ;
  display: grid;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  margin: auto;
  gap: 2px;
  border-radius: 12px;
  overflow: hidden;
  background: colors.$primary-dark;;
  border: 2px solid colors.$primary-dark;;

  .box {

  }
}
