@use '@/theme/colors.scss' as colors;

.root {
  color: colors.$primary-main;
  text-align: left;
  letter-spacing: 2px;
  font-size: 32px;
  padding: 16px 0;
  .doa {
    position: relative;
    display: inline-block;
    color: black;
    background-color: colors.$primary-dark;
    padding: 0 5px;
    margin-left: 4px;
    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: #2b2b2b;
      border: 1px solid black;
    }
    &:before {
      top: 2px;
      left: 2px;
    }
    &:after {
      bottom: 2px;
      right: 2px;
    }
  }
}