@use '@/theme/colors.scss' as colors;

.root {
  border: 2px solid colors.$accent-light;
  font-size: 44px;
  background-color: black;
  color: colors.$primary-main;
  padding: 8px 20px;
  box-sizing: border-box;
}

.fullWidth {
  width: 100%;
}