@use '@/theme/colors.scss' as colors;

.root {
  border: 2px solid #2b2b2b;
  font-size: 1.8em;
  background-color: black;
  color: colors.$primary-main;
  padding: 0.1em 0.5em;
  box-sizing: border-box;
}

.fullWidth {
  width: 100%;
}